<div class="row" style="background-color: black; color: #ffffff;">
	<br>
	<br>
	<center>
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<h4>CRIS <small>INTERN</small></h4>
			<h5>About</h5>
			<h5>Blog</h5>
			<h5>Careers</h5>
			<h5>Contact Us</h5>
			<br>
		</div>
		<div class="col-md-2">
			<h4>Internships</h4>
			<h5>Search</h5>
			<h5>Book</h5>
			<h5>Profile</h5>
			<h5>Read Articles</h5>
			<br>
		</div>
		<div class="col-md-2">
			<h4>Passengers</h4>
			<h5>Profile</h5>
			<h5>Cancel</h5>
			<h5>News Feed</h5>
			<h5>CRIS Pro</h5>
			<br>
		</div>
		<div class="col-md-2">
			<h4>Social</h4>
			<h5>Facebook</h5>
			<h5>Twitter</h5>
			<h5>LinkedIn</h5>
			<h5>YouTube</h5>
			<br>
		</div>
		<div class="col-md-2"></div>
	</center>
</div>
<div class="row" style="background-color: black; color: black;">
    <pre>     Copyright © Aditya Sinha</pre>
</div>